* {
  font-family: "Regular";
  color: #4f5052;
  margin: 0;
}

main {
  padding-top: 12vh;
}

.about-div {
  width: 75vw;
  margin: auto;
  .power-div {
    line-height: 40px;
    font-size: 30px;
    color: rgba(79, 80, 82, 0.6);
    .text-purple {
      color: #6637f5;
    }
  }
}

.open-div {
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin: auto;
  text-align: center;
  .open-div,
  h3 {
    color: #7029ff;
    font-size: 24px;
  }
  .open-div,
  p {
    margin-top: 1vh;
    font-family: "Light";
    font-size: 16px;
  }
}

@media only screen and (min-width: 640px) {
  .about-div {
    .power-div {
      line-height: 70px;
      font-size: 60px;
    }
  }
  .open-div {
    .open-div,
    h3 {
      font-size: 30px;
    }
    .open-div,
    p {
      font-size: 18px;
    }
  }
}

@media only screen and (min-width: 1084px) {
  .about-div {
    .power-div {
      line-height: 111px;
      font-size: 90px;
    }
  }
  .open-div {
    .open-div,
    h3 {
      font-size: 40px;
    }
    .open-div,
    p {
      font-size: 20px;
    }
  }
}

/* Duplicated css with the filters section  */

/* .job-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
} */

/* need to get the text in these to be vertically aligned */
/* .search-box,
.location-filter,
.department-filter {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 3px;
  height: 6vh;
  width: 22vw;
  margin: auto;
} */

/* .search-box {
  margin-left: 0;
} */

/* .location-filter {
  margin-right: 0;
} */


/* Job table section */

.all-jobs {
  display: flex;
  margin: auto;
  width: 75vw;
}

.job-box {
  display: block;
  margin: auto;
  width: 75vw;
  height: 100%;
  text-decoration: none;
}


.job-item {
  /* Change flex-box to grid to test */
  text-align: center;
  padding: 0px;
  display: grid;
  row-gap: 10px;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
  grid-auto-columns: minmax(0, 1fr); /* Set equal column size */

  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
  width: 100%;
  height: 10vh;
  background-color: #ffffff;
  border: 1.2px solid #cccccc;
  /* this brings the borders of rows to overlap and align with each other: */
  margin-bottom: -1px;
  align-content: center;
  
}

.job-item:hover {
  background-color: rgba(112, 41, 255, 0.1);
  border: 1px solid #6637f5;
  border-radius: 3px;
  /* this brings the hovered row above the others so the full colour shows: */
  /* not working as expected now - revisit this */
  z-index: 10;
}

/* Line Add it to work with Grid */
.job-item-title 
.job-item-location
.job-item-department{
  /* comment because I was using grid */
  /* width: 30%; */
  padding-left: 1vw;
  background-color: transparent;

    /* Add it to center display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Comment because I was usong grid */
/* .job-item-title {
  width: 100%;
  padding-left: 1vw;
  background-color: transparent;
} */

/* .job-item-location {
  width: 100%;
  padding-left: 1vw;
  background-color: transparent;
  font-family: "Light";

} */

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid #cccccc;
  border-radius: 50%;
  margin: 0 auto;
  border-top-color: #7029ff;
  animation: spinner 0.3s linear infinite;
}


/* responsive desgin for the jobs table section */

@media only screen and (max-width: 600px) {
  .job-item {
    font-size: 0.9rem;
    height: 15vh;
  }

}



/* Default React app styling below here: */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
