.jobfilters {
    width: 100%;
    height: 100px;
    text-align: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    border-radius: 5px;
    margin-bottom: 3%;
}

.filter-item {
    height: 50px;
    width: 90%;
    align-self: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 1.5px solid #cccccc;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.2);
    font-weight: bold;
    color: #333
}

.search-box {
    width: 100%;
    border-radius: 5px;
}

.search-box-content {

    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    justify-items: center;

    &:hover {
        background-color: rgba(112, 41, 255, 0.1);
        border: 2px solid #7029FF;
        border-radius: 3px;
    }
}

input {
    border: none;
    padding: 15px;
    margin-left: -65%;
    outline: none;
    background-color: rgba(112, 41, 255, 0);
    border-radius: 5px;


    &:hover {
        background-color: rgba(112, 41, 255, 0);
    }
}

.location {
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    border-radius: 5px;

    &:hover {
        background-color: rgba(112, 41, 255, 0.1);
        border: 2px solid #7029FF;
        cursor: pointer;
    }

}

.department {
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;

    &:hover {
        background-color: rgba(112, 41, 255, 0.1);
        border: 2px solid #7029FF;
        cursor: pointer;
    }

}


.arrow{
    position: absolute;
    color: #7029FF;
    font-size: 1rem;
    right: 5%;
    
    &:hover {
        cursor: pointer;
    }
}


.custom-dropdown {
    position: relative;
  }
  
  .dropdown-list {
    position: absolute;
    width: 100%;
    top: 130%; /* Position below the header */
    left: 0;
    background-color: #f4f4f4;
    border: 1.5px solid lightgrey;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 3px;
    z-index: 20;
  }

.dropdown-item {
    height: 50px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 1rem;
    color: #333;
    &:hover {
        cursor:pointer;
        background-color: lightgrey;
    }
}

.dropdown-header {
    padding: 15px;
    font-size: 1rem;
}

h3 {
    font-size: 1rem;
    width: 75vw;
    margin: auto;
}


/* responsive desgin for the filter boxes section */

@media only screen and (max-width: 800px) {

    .power-div {
        text-align: center;
    }

    .jobfilters {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    
    input {
        text-align: center;
        padding: 10px;
        padding-left: 15px;
    }

    .filter-item {
        margin: 8px;
        height: 35%;
    }

    .dropdown-header {
        font-size: 0.9rem;
    }

    .arrow {
        font-size: 0.9rem;
    }

    .dropdown-item {
        height: 30px;
    }

    .filter-item {
        width: 100%;
    }
}
  

@media only screen and (max-width: 600px) {

    .jobfilters {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        margin-top: 20%;
        margin-bottom: 10%;
    }
    
    input {
        padding: 10px;
        padding-left: 15px;
    }

    .filter-item {
        margin: 8px;
        height: 35%;
    }

    .dropdown-header {
        font-size: 0.9rem;
    }

    .arrow {
        font-size: 0.9rem;
    }

    .dropdown-item {
        height: 30px;
    }
}
  
