.footer-greenhouse {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.greenhouse-logo {
     width: 30%;
     padding-left: 0.5rem;
}

.footer-privacy {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.privacy-policy-link {
     padding-left: 0.25rem;
}