
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  border-bottom: 1px solid #cccccc;
}

.header .logo {
  padding: 20px;
  max-width: 10vw;
}
