/* Styling specific to the header component */

header {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.7);
  .logo {
    padding: 20px;
    width: clamp(75px, 8vw, 150px);
    transition: ease 0.4s;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .logo:hover {
    opacity: 0.7;
    transform: translate(0, 5px);
  }
}
