/* Styling specific to the homepage */

* {
  font-family: "Regular";
  color: #4f5052;
  margin: 0;
}

body {
  min-height: 100vh;
  position: relative;
  padding: none;
}

main {
  padding-top: clamp(100px, 10vh, 150px);
  /* this leaves sufficient space for the footer */
  padding-bottom: 15vh;
  width: 75vw;
}

.power-div {
  margin: auto;
  line-height: 111px;
  font-size: 90px;
  color: rgba(79, 80, 82, 0.6);
  .text-purple {
    color: #6637f5;
  }
}

.open-div {
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin: auto;
  text-align: center;
  .open-div,
  h3 {
    color: #7029ff;
    font-size: 40px;
  }
  .open-div,
  p {
    margin-top: 1vh;
    font-family: "Light";
    font-size: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .about-div {
    .power-div {
      line-height: 90px;
      font-size: 80px;
    }
  }
}


@media only screen and (max-width: 1024px) {
  main {
    width: 80vw;
  }

  .about-div {
    .power-div {
      line-height: 70px;
      font-size: 60px;
    }
  }
  .open-div {
    .open-div,
    h3 {
      font-size: 30px;
    }
    .open-div,
    p {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 768px) {
  main {
    width: 85vw;
  }

  .power-div {
    line-height: 40px;
    font-size: 30px;
  }

  .open-div {
    .open-div,
    h3 {
      font-size: 20px;
    }
    .open-div,
    p {
      font-size: 16px;
    }
  }
}
@media only screen and (max-width: 640px) {
  .power-div {
    line-height: 35px;
    font-size: 25px;
  }

}

/* Job table section */

.all-jobs {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 75vw;
}

.department-box {
  margin-bottom: 20px;
}

.department-name {
  font-size: 24px;
  font-family: "Medium";
}

.job-item {
  display: flex;
  flex-direction: inline-flex;
  justify-content: space-between;
  margin: 20px 2vw;
  border-bottom: 1px solid #cccccc;
}

.job-item-title {
  font-family: "Medium";
  font-size: 20px;
  text-decoration: none;
}

.job-item-title:hover {
  color: #6637f5;
}

.job-item-location {
  color: rgba(79, 80, 82, 0.8);
}

.job-item-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: clamp(50%, 65%, 75%);
}

.job-button {
  background-color: #6637f5;
  color: #ffffff;
  font-size: 14px;
  border-color: transparent;
  border-style: none;
  border-radius: 30px;
  padding: 0 30px;
  line-height: 1;
  height: 40px;
  font-weight: 400;
}

.job-button:hover {
  background-color: #4f5052;
  cursor: pointer;
}

.no-jobs {
  width: 100%;
  text-align: center;
  color: #949393c7;
  font-weight: 500;
  font-size: 1.25rem;
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid #cccccc;
  border-radius: 50%;
  margin: 0 auto;
  border-top-color: #7029ff;
  animation: spinner 0.3s linear infinite;
}

@media only screen and (max-width: 1024px) {
  .all-jobs {
    width: 80vw;
  }
}
@media only screen and (max-width: 768px) {
  .all-jobs {
    width: 85vw;
  }
  .department-name {
    font-size: 20px;
  }
  .job-item-title {
    font-size: 16px;
  }
  .job-item-location {
    font-size: 14px;
  }
}
@media only screen and (max-width: 640px) {
  .job-item {
    display: block;
  }

  .job-button {
    margin-bottom: 20px;
  }
}
