* {
  font-family: "Regular";
  color: #4f5052;
  margin: 0;
}

body {
  min-height: 100vh;
  position: relative;
  padding: none;
}

main {
  padding-top: clamp(11vh, 10vh, 9vh);
  /* this leaves sufficient space for the footer */
  padding-bottom: 15vh;
}

.about-div {
  padding-top: 20px;
  width: 75vw;
  margin: auto;
  .power-div {
    line-height: 40px;
    font-size: 30px;
    color: rgba(79, 80, 82, 0.6);
    .text-purple {
      color: #6637f5;
    }
  }
}

.open-div {
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin: auto;
  text-align: center;
  .open-div,
  h3 {
    color: #7029ff;
    font-size: 20px;
  }
  .open-div,
  p {
    margin-top: 1vh;
    font-family: "Light";
    font-size: 16px;
  }
}

@media only screen and (min-width: 640px) {
  .about-div {
    .power-div {
      line-height: 70px;
      font-size: 60px;
    }
  }
  .open-div {
    .open-div,
    h3 {
      font-size: 30px;
    }
    .open-div,
    p {
      font-size: 18px;
    }
  }
}

@media only screen and (min-width: 1084px) {
  .about-div {
    .power-div {
      line-height: 111px;
      font-size: 90px;
    }
  }
  .open-div {
    .open-div,
    h3 {
      font-size: 40px;
    }
    .open-div,
    p {
      font-size: 20px;
    }
  }
}

/* Job table section */

.all-jobs {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 75vw;
}

.department-box {
  margin-bottom: 20px;
}

.department-name {
  font-size: 24px;
  font-family: "Medium";
}

.job-item {
  display: flex;
  flex-direction: inline-flex;
  justify-content: space-between;
  margin-left: 2vw;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 72.73vw;
  border-bottom: 1px solid #cccccc;
}

.job-item-title {
  font-family: "Medium";
  font-size: 20px;
  text-decoration: none;
}

.job-item-title:hover {
  color: #6637f5;
}

.job-item-location {
  color: rgba(79, 80, 82, 0.8);
}

.job-item-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: clamp(50%, 65%, 75%);
}

.job-button {
  background-color: #6637f5;
  color: #ffffff;
  font-size: 20px;
  border-color: #6637f5;
  border-style: none;
  border-radius: 30px;
  padding: 10px 20px;
}

.job-button:hover {
  opacity: 80%;
  cursor: pointer;
}

.no-jobs {
  width: 100%;
  text-align: center;
  color: #949393c7;
  font-weight: 500;
  font-size: 1.25rem;
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid #cccccc;
  border-radius: 50%;
  margin: 0 auto;
  border-top-color: #7029ff;
  animation: spinner 0.3s linear infinite;
}

/* add responsive design for job table */
