.job-page {
  /* default setting for content div on job page: */
  display: block;
  margin: auto;
  width: 75vw;
  padding-top: 20px;
  line-height: 1.4;
}

.job-links,
  .job-links a {
    padding: 20px 0px;
    color: rgba(79, 80, 82, 0.6);
    font-size: 16px;
  }

  .job-links a:hover {
    color: #6637f5;
  }

  .job-header {
    display: flex;
    flex-direction: row;

    .job-summary-div {
      width: 70%;
      .job-title {
        font-size: 30px;
      }
      .job-attributes {
        color: #6637f5;
        padding: 10px 0px;
        font-size: 16px;
        .job-attributes span {
          color: rgba(79, 80, 82, 0.6);
        }
      }
    }

    .apply-div {
      width: 30%;
      display: flex;
      justify-content: flex-end;
    }

    .apply-button {
      background-color: #6637f5;
      color: #ffffff;
      font-size: 24px;
      border-color: #6637f5;
      border-style: none;
      border-radius: 30px;
      padding: 15px 20px;
    }

    .apply-button:hover {
      opacity: 90%;
      cursor: pointer;
    }
  }
  .job-description {
    padding-bottom: 20px;
    font-size: 18px;
  }

  .content-intro {
    margin-bottom: 30px;
  }

  h3, h4 {
    font-family: "Medium";
    margin: 20px 0px 10px 0px;
  }

  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }

  p {
    margin: 10px 0px;
  }

  ul {
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 10px;
    padding-left: 10px;
  }

@media only screen and (max-width: 1024px) {
  .job-page {
    width: 80vw;
  }
  .job-links,
  .job-links a {
    font-size: 14px;
  }
  .job-header {
    .job-summary-div {
      width: 100%;
      .job-title {
        font-size: 26px;
      }
      .job-attributes {
        font-size: 14px;
      }
    }

    .apply-button {
      font-size: 22px;
    }
  }
  .job-description {
    font-size: 16px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }
}

.id-not-found {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .job-page {
    width: 85vw;
  }
  .job-links,
  .job-links a {
    font-size: 12px;
  }
  .job-header {
    .job-summary-div {
      .job-title {
        font-size: 24px;
        .job-attributes {
          font-size: 14px;
        }
      }
    }
    .apply-button {
      font-size: 18px;
      padding: 17px 12px;
    }
  }
  .job-description {
    font-size: 14px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .job-page {
    width: 85vw;
  }

  .job-links,
  .job-links a {

    font-size: 12px;
  }
  .job-header {
    flex-direction: column;
    .job-summary-div {
      .job-title {
        font-size: 22px;
        .job-attributes {
          font-size: 12px;
        }
      }
    }
    .apply-div {
      width: 100%;
      justify-content: center;
    }
    .apply-button {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
  .job-description {
    font-size: 12px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }
  p {
    margin-top: 0;
  }
}
