.jobfilters {
    width: 100%;
    background-color: #cccccc;
    height: 100px;
    text-align: center;
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
    grid-auto-columns: minmax(0, 1fr); /* Set equal column size */
    border-radius: 3px;
    border: 2px solid #cccccc;
}

.filter-item{
    height: 50px;
    width: 90%;
    align-self: center;
    justify-self: center;
    background-color: #ffffff;
    border-radius: 3px;
}


.location{
    border: 2px solid white;
    border-radius: 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;


    font-size: 16px;
    &:hover {
        background-color: rgba(112, 41, 255, 0.1);
        border: 2px solid #7029FF;
    }

}


.arrow{
    position: absolute;
    color: #7029FF;
    font-size: 20px;
    right: 10%;
    
    &:hover {
        cursor: pointer;
    }
}


.custom-dropdown {
    position: relative;
  }
  
  .dropdown-list {
    position: absolute;
    width: 100%;
    top: 200%; /* Position below the header */
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
  }

.dropdown-item {
    height: 50px;
    border: 1px solid #ccc;
    display: grid;
    justify-self: center;
    align-self: center;
}